/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
@import "../../../../style/themes/default";

// The prefix to use on all css classes from ant.
@ant-prefix             : ant;

// ICONFONT
@iconfont-css-prefix    : anticon;
@icon-url               : "/resource/fonts/antd/font_148784_v4ggb6wrjmkotj4i";
@fay-icon-url           : "/resource/fonts/fay/iconfont_2018_3_1";

// ICONFONT
//@icon-url               : "https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i";
